<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      ngModel
      required
      name="firstName"
      #firstName="ngModel"
      minlength="3"
      maxlength="10"
      pattern="Muhammad"
      placeholder="Muhammad"
      id="firstName"
      type="text"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="firstName.touched && !firstName.valid"
    >
      <div *ngIf="firstName.errors?.['required']">First Name is Required.</div>
      <div *ngIf="firstName.errors?.['minlength']">
        First Name should be minimum
        {{ firstName.errors?.['minlength'].requiredLength }} characters
      </div>
      <div *ngIf="firstName.errors?.['pattern']">
        First Name does not match the pattern.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
      required
      ngModel
      minlength="5"
      name="comment"
      id="comment"
      #comment="ngModel"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
    <div class="alert alert-danger" *ngIf="comment.touched && !comment.valid">
      <div *ngIf="comment.errors?.['required']">Comment is Required.</div>
      <div *ngIf="comment.errors?.['minlength']">
        comment should be minimum
        {{ comment.errors?.['minlength'].requiredLength }} characters
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="contactMethod">Contact Method</label>
    <select
      ngModel
      name="contactMethod"
      id="contactMethod"
      class="form-control"
    >
      <option *ngFor="let method of contactMethod" [value]="method.id">
        {{ method.name }}
      </option>
    </select>
  </div>
  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="!comment.valid || !firstName.valid"
  >
    Submit
  </button>
</form>
